* {
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

#header {
	width: 100%;
	height: 600px;
	margin: 0 auto;
	padding: 0;
	background: #4bcaff;
}

#header img {
	width: 100%;
	height: 100%;
	float: left;
	opacity: 0.8;
}

.menu {
	width: 100%;
	height: 80px;
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	background: rgba(47, 51,59, 0.8);
}

.background {
	height: 80px;
	width: 1200px;
	margin: 0 auto;
}

.menu span {
	color: #4bcaff;
}

.menu h3 {
	margin: 0 auto;
	padding: 0;
	font-size: 24px;
	height: 80px;
	float: left;
	line-height: 80px;
}

.menu ul {
	height: 80px;
	line-height: 80px;
	margin: 0 auto;
	padding: 0;
	float: right;
}

.menu a {
	text-decoration: none;
	font-size: 16px;
	color: white;
	text-transform: uppercase;
}

.menu li {
	list-style-type: none;
	padding: 0 0 0 20px;
	float: left;

}

.menu .active {
	color: #4bcaff;
	border: 1px solid #4bcaff;
	padding: 5px 10px;
}

.slogan {
	width: 100%;
	height: 520px;
	margin: 0 auto;
	padding: 200px;
	position: absolute;
	top: 80px;
	left: 0;
	color: white;
}

.slogan span {
	font-size: 28px;
	background: rgba(47, 51,59, 0.8);
	text-transform: uppercase;
	text-align: center;
}

.slogan .style_slogan {
	display: flex;
  	justify-content: center;
  	align-items: center;
  	padding: 5px;
}

#main {
	width: 100%;
	background: #4bcaff;
	height: 400px;
	margin: 0 auto;
	padding: 30px 0;
	color: #fff;
	font-size: 30px;
}

.main_menu {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}

#main span{
	border-bottom: 2px solid #fff;
}

#main li {
	max-width: 25%;
	list-style-type: none;
	text-decoration: none;
	font-size: 20px;
	float: left;
	padding: 10px;
}


#main ul {
	padding: 0;
	margin: 10px -10px 0 -10px;
}

#main a {
	text-decoration: none;
	color: #fff;
	font-size: 24px;
}

#main p {
	text-align: justify;
	font-size: 14px;
}

#content {
	height: 700px;
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}

#content span {
	border-bottom: 2px solid #515f67;
}

#content p {
	margin: 0 auto;
	padding: 0;
	height: 80px;
	float: left;
	line-height: 80px;
	font-size: 24px;
}


#content ul {
	height: 80px;
	line-height: 80px;
	margin: 0 auto;
	padding: 0;
	float: right;
}

#content a {
	text-decoration: none;
	color: #515f67;
	text-transform: uppercase;
}

#content li {
	list-style-type: none;
	padding: 0 0 0 20px;
	float: left;
	font-size: 16px;
}

#content .active {
	color: #4bcaff;
	border: 1px solid #4bcaff;
	padding: 5px 10px; 
}

.gallery {
	margin: 0 -10px 0 -10px;
	height: 620px;
}

.over {
	padding: 10px;
	max-width: 25%;
	float: left;
	position: relative;
}

.over img {
	max-width: 100%;
	display: block;
} 

.overlay {
	position: absolute;
  	bottom: 10px;
  	left: 10px;
  	right: 10px;
  	background-color: rgba(0, 0, 0, 0.9);
  	overflow: hidden;
	width: 93.42%;
  	height: 93.42%;
  	-webkit-transform:scale(0);
  	transform: scale(0);
  	transition: transform .3s ease;
}

.text {
  	color: white;
  	font-size: 20px;
  	position: absolute;
  	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.over:hover .overlay {
  	transform: scale(1);
}






