	#main-menu > a:first-child {
		height: 100px;
		width: 100px;		
		border: 2px solid purple;
		border-radius: 50%;
		position: absolute;
		top: -103px;
		left: -1px;		
	}
	#main-menu > a:first-child img{
		border: 2px solid purple;
		border-radius: 50%;
		
	}

	#ao img:hover{
		opacity: 0.6;
	}

	.aomanu, .aoarsenal, .aoreal, .aochelsea, .aobarca {
		float: left;
		padding: 0;
		border: 2px solid grey;
		margin: auto;
		width: 29.85%;
		height: 298px;
		display: block;	
	}
	#ao {
		position: absolute;
		top: 0;
		left: 104px;
		width: 1000px;
	}

	#arrowup {
		width: 50px;
		height: 50px;
		bottom: 0;
		right: 150px;
		position: fixed;
	}
	#footer {
		clear: both;
	}