* {
    box-sizing: border-box;
}

body{
	background-color: #b5b5b5;
	padding: 0;
}

img{
	max-width: 100%;
}
.wrap{
	max-width: 1000px;
	margin: auto;
	position: relative;	
}

#main-menu a{
	padding: 0;
	margin: 3px 6px 3px 0;
	background-color: #97ffff;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	line-height: 30px;
	display: block;	
	width: 100px;
	height: 30px;
}

#main-menu a:link {
	color: grey;
}
#main-menu a:visited {
	color: black;
	font-weight: bold;
}

#main-menu a:hover, #main-menu a:active{
	color: black;
	background-color: red;
}

