
@keyframes title {
    0%  {color: red;}
    25%  {color: orange;}
    50%  {color: yellow;}
    75%  {color: blue;}
    100% {color: purple;}
}

h1 {
	background-color: #eee9e9;
	text-align: center;
	margin: auto;
	animation: title 5s ease infinite;
	letter-spacing: 5px;
}

.ao-manu, .ao-arsenal {
	float: left;
	padding: 5px;
	overflow: hidden;
	border: 1px solid #eee9e9;
	max-width: 33.33%;
	max-height: 333px;
}

#manu img, #arsenal img{
	vertical-align: middle;
}

#ao {
	max-width: 1000px;
	margin: auto;
	padding: 10px;
}

#arsenal img{
	transition: all 0.5s ease;
}

.ao-manu img:hover {
	transform: translate(0,-5px);
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2)
}

.ao-arsenal img:hover {
	transform: scale(1.2);
	opacity: 0.5;
}


