.list-lv1:nth-child(2) {
    border-bottom: 2px solid #ffd500;
}

.color-hover>a {
    color: #ffd500;
}

.service-detail-title {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.service-detail-title a {
    text-decoration: none;
    color: black;
}

.service-detail-title p:nth-child(3) a {
    color: #ffd500;
}


/* Service */

.service {
    max-width: 1200px;
    margin: 0 auto;
    color: rgb(65, 65, 65);
}


/* Row 1 */

.service-row-1 {
    display: flex;
    flex-direction: row;
}

.service-row-1-col {
    border: 2px solid rgb(218, 218, 218);
    background: #fff;
}

.service-row-1-col:hover {
    box-shadow: 0 0 1px 0 rgb(112, 112, 112), 0 10px 20px 0 rgb(145, 145, 145);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.service-row-1-col-1 {
    margin: 0 1.5% 0 0;
    width: 22.75%;
}

.service-row-1-col-2 {
    margin: 0 1.5%;
    width: 22.75%;
}

.service-row-1-col-3 {
    margin: 0 1.5%;
    width: 22.75%;
}

.service-row-1-col-4 {
    margin: 0 0 0 1.5%;
    width: 22.75%;
}


/* Row 2 */

.service-row-2 {
    padding: 50px 0;
    display: flex;
    flex-direction: row;
}

.service-row-2-col {
    border: 2px solid rgb(218, 218, 218);
    background: #fff;
}

.service-row-2-col:hover {
    box-shadow: 0 0 1px 0 rgb(112, 112, 112), 0 10px 20px 0 rgb(145, 145, 145);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.service-row-2-col-1 {
    margin: 0 1.5% 0 0;
    width: 22.75%;
}

.service-row-2-col-2 {
    margin: 0 1.5%;
    width: 22.75%;
}

.service-row-2-col-3 {
    margin: 0 1.5%;
    width: 22.75%;
}

.service-row-2-col-4 {
    margin: 0 0 0 1.5%;
    width: 22.75%;
}


/*  */

.service-title-top p {
    text-align: center;
    padding-bottom: 50px;
    color: #9c8304;
}

.service-title-top h1 {
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
    position: relative;
    color: #9c8304;
}

.service-title-top h1:after {
    position: absolute;
    content: '';
    width: 8%;
    height: 2px;
    background: #ffd500;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    background-position: center;
}

.service-title p {
    text-align: center;
}

.service-title h2 {
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
}

.service-pack {
    padding-bottom: 20px;
}

.service-pack ul {
    padding: 10px;
}

.service-pack img {
    width: 10%;
}

.service-pack ul p {
    text-align: left;
    margin: 0;
    font-size: 14px;
    padding-top: 20px;
    font-style: italic;
}

.service-pack span {
    color: red;
}

.service-pack li {
    font-size: 16px;
    padding: 5px 0px 5px 25px;
    list-style-type: none;
    background: url(/image/logo/11.png) no-repeat scroll left center;
    background-size: 16px;
}

.service-pack ul .service-pack-none {
    font-size: 16px;
    padding: 5px 0px 5px 25px;
    list-style-type: none;
    background: url(/image/logo/12.png) no-repeat scroll left center;
    background-size: 16px;
}

.service-pack-fill {
    margin: 0 auto;
    width: 99%;
    height: 30px;
    background-color: rgb(243, 243, 243);
}

.regester {
    padding: 20px;
    margin: 0 auto;
}

.regester:hover a {
    color: #fff;
}

.regester:hover p {
    background: #ffb500;
}

.regester a {
    text-decoration: none;
    color: #000;
}

.regester p {
    background-color: #ffd500;
    border: 1px solid #ffd500;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 10px;
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

@media(max-width:800px) {
    /* Responsive text banner */
    .text h1 {
        font-size: 24px;
        margin: 0;
    }
    .text p {
        font-size: 14px;
        margin: 0;
    }
    .banner-more p {
        padding: 5px;
        font-size: 14px;
    }
    .banner-more {
        width: 15%;
        bottom: 20%;
    }
    /* Service */
    .regester {
        padding: 10px;
    }
    .regester a {
        font-size: 14px;
        font-weight: 400;
    }
    .regester p {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}

@media(max-width:600px) {
    /* Responsive text banner */
    .banner-more p {
        padding: 5px;
        font-size: 12px;
    }
    .banner-more {
        width: 15%;
        bottom: 20%;
    }
    /* Service */
    .service-title-top p {
        padding-bottom: 0;
    }
    .service-pack li {
        font-size: 12px;
    }
    .service-pack ul .service-pack-none {
        font-size: 12px;
    }
    .service-pack ul p {
        font-size: 12px;
    }
    .service-title h2 {
        font-size: 16px;
    }
    .service-title p {
        font-size: 12px;
    }
    .regester {
        padding: 5px;
    }
    .regester a {
        font-size: 12px;
    }
    .regester p {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}

@media (max-width:415px) {
    /* Responsive text banner */
    .text h1 {
        font-size: 14px;
    }
    .text p {
        font-size: 10px;
    }
    .banner-more p {
        padding: 5px;
        font-size: 10px;
    }
    .banner-more {
        width: 20%;
        bottom: 15%;
    }
    /* Service */
    .service-row-1,
    .service-row-2 {
        float: left;
        display: block;
        padding: 0;
    }
    .service-row-1-col-1,
    .service-row-1-col-2,
    .service-row-1-col-3,
    .service-row-1-col-4,
    .service-row-2-col-1,
    .service-row-2-col-2,
    .service-row-2-col-3,
    .service-row-2-col-4 {
        margin: 2% 1%;
    }
    .service-row-1-col,
    .service-row-2-col {
        border: 2px solid rgb(218, 218, 218);
        background: #fff;
        width: 48%;
        float: left;
        height: 500px;
    }
    .service-row-1-col-3,
    .service-row-2-col-3 {
        float: right;
    }
    .service-title-top p {
        padding-bottom: 0;
        font-size: 10px;
    }
    .service-title-top h1 {
        font-size: 18px;
    }
    .service-pack {
        padding: 0;
    }
    .service-pack ul {
        height: 100px;
    }
    .service-pack li {
        font-size: 12px;
    }
    .service-pack ul .service-pack-none {
        font-size: 10px;
    }
    .service-pack ul p {
        font-size: 12px;
    }
    .service-title h2 {
        font-size: 16px;
    }
    .service-title p {
        font-size: 12px;
    }
    .regester {
        padding: 10px;
    }
    .regester a {
        font-size: 14px;
        font-weight: 400;
    }
    /* Footer */
    .footer-outside {
        clear: both;
    }
    .footer {
        padding: 0;
    }
    .footer h3 {
        font-size: 14px;
    }
    .footer p {
        font-size: 10px;
    }
    .footer-left-child {
        padding: 0;
    }
}