.list-lv1:nth-child(3) {
    border-bottom: 2px solid #ffd500;
}

.list-lv1:nth-child(3) a {
    color: #ffd500;
}


/* Left */

.general h1 {
    color: #ffd500;
    width: 100%;
    position: relative;
    text-align: center;
}

.general h1:after {
    content: '';
    position: absolute;
    bottom: -10%;
    left: 40%;
    width: 20%;
    height: 1px;
    background-color: #ffd500;
}

.general-left p {
    text-indent: 40px;
}

.general-left img {
    width: 100%;
}

.general span {
    color: #ffd500;
}

.general-left {
    width: 80%;
    text-align: justify;
}

@media (max-width:415px) {
    .general-left {
        width: 65%;
        padding-right: 2%;
    }
    .general-right {
        width: 35%;
        padding-right: 2%;
    }
}