    .list-lv1:nth-child(5) {
        border-bottom: 2px solid #ffd500;
    }
    
    .list-lv1:nth-child(5) a {
        color: #ffd500;
    }
    /* Left */
    
    .card img {
        display: block;
    }
    
    .card img:hover {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
    }
    
    .card {
        width: 32%;
        float: left;
        border: 0.5px solid #ccc;
        box-shadow: 0 2px 2px 0 #ccc, 0 2px 2px 0 #ccc;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
    }
    
    .card:hover {
        box-shadow: 0 4px 8px 0 rgb(112, 112, 112), 0 8px 16px 0 rgb(145, 145, 145);
    }
    
    .card-image {
        width: 100%;
        overflow: hidden;
    }
    
    .card-image img {
        width: 100%;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
    }
    
    .card a {
        text-decoration: none;
        color: blue;
    }
    
    .card-content {
        padding: 10px;
    }
    
    .card-content h3 {
        text-align: center;
    }
    
    .card-content p {
        text-indent: 20px;
        text-align: justify;
        color: rgb(71, 71, 71);
        font-size: 16px;
    }
    
    .card-action {
        display: flex;
        color: rgb(128, 128, 128);
        font-size: 14px;
    }
    
    .card-action span {
        font-style: italic;
        cursor: pointer;
    }
    
    .card-action p:nth-child(1) {
        width: 50%;
        text-align: left;
        padding-left: 10px;
    }
    
    .card-action p:nth-child(2) {
        width: 50%;
        text-align: right;
        padding-right: 10px;
    }
    
    .card:nth-child(1),
    .card:nth-child(3) {
        margin: 2% 0;
    }
    
    .card:nth-child(4),
    .card:nth-child(6) {
        margin: 2% 0;
    }
    
    .card:nth-child(2),
    .card:nth-child(5) {
        margin: 2% 2%;
    }
    
    @media (max-width:800px) {
        .card-content h3 {
            font-size: 16px;
        }
        .card-content p {
            font-size: 14px;
        }
        .card-action {
            font-size: 12px;
        }
        .card-action p {
            padding-left: 5px;
        }
    }
    
    @media (max-width:600px) {
        .card {
            width: 49%;
            float: left;
        }
        .card:nth-child(1),
        .card:nth-child(3),
        .card:nth-child(5) {
            margin: 2% 1% 2% 0;
        }
        .card:nth-child(2),
        .card:nth-child(4),
        .card:nth-child(6) {
            margin: 2% 0% 2% 1%;
        }
    }
    
    @media (max-width:415px) {
        .general-left {
            width: 60%;
        }
        .general-right {
            width: 40%;
            padding-right: 2%;
        }
        .card {
            width: 100%;
        }
        .card:nth-child(1),
        .card:nth-child(2),
        .card:nth-child(3),
        .card:nth-child(4),
        .card:nth-child(5),
        .card:nth-child(6),
        {
            margin: 2% 2%;
        }
        .service-list-lv1 {
            height: 45px;
        }
    }