.list-lv1:nth-child(1) {
    border-bottom: 2px solid #ffd500;
}

.list-lv1:nth-child(1) a {
    color: #ffd500;
}

@media(max-width:800px) {
    /* Responsive text banner */
    .banner img {
        height: 300px;
    }
    .text h1 {
        font-size: 24px;
        margin: 0;
    }
    .text p {
        font-size: 14px;
        margin: 0;
    }
    .banner-more p {
        padding: 5px;
        font-size: 14px;
    }
    .banner-more {
        width: 15%;
        bottom: 20%;
    }
    /* About */
    .about-more a {
        font-size: 14px;
    }
    /* Tab */
    .tab button {
        font-size: 14px;
    }
    .choice-para p span {
        font-size: 14px;
        padding: 5px;
    }
    .choice-title h2 {
        font-size: 24px;
    }
    .choice-para p:after {
        top: 10%;
    }
    /* Service */
    .service-pack li {
        font-size: 14px;
    }
    .service-title h2 {
        font-size: 18px;
    }
    /* Widget */
    .choice-row-1 {
        height: 195px;
    }
    .main-content-choice {
        margin-bottom: -50px;
    }
    .brand-choice {
        padding-bottom: 0;
    }
    .choice-row-2 {
        height: 195px;
    }
    .choice-outside-1,
    .choice-outside-2 {
        height: 175px;
    }
    /* Service */
    .regester {
        padding: 10px;
    }
    .regester a {
        font-size: 14px;
        font-weight: 400;
    }
    .regester p {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}

@media(max-width:600px) {
    /* Responsive text banner */
    .banner-more p {
        padding: 5px;
        font-size: 12px;
    }
    .banner-more {
        width: 15%;
        bottom: 20%;
    }
    /* Brand */
    .brand-shape {
        margin: -36px auto 0;
        height: 150px;
        max-width: 125px;
    }
    .brand-shape h2 {
        font-size: 16px;
    }
    .brand-shape p {
        font-size: 12px;
    }
    /* About */
    .about-more a {
        font-size: 12px;
    }
    .about-more p {
        padding: 3px 0;
    }
    /* Tab */
    .tab button {
        font-size: 12px;
    }
    /* Widget */
    .choice-row-1,
    .choice-row-2 {
        height: 165px;
    }
    .choice-para p span {
        font-size: 10px;
    }
    .choice-para p {
        line-height: 32px;
    }
    .choice-title h2 {
        font-size: 20px;
        margin: 0;
        padding-top: 10px;
    }
    .choice-title:after {
        top: 105%;
    }
    .choice-para span:after {
        top: 7%;
    }
    .choice-list p {
        font-size: 18px;
    }
    .main-content-choice {
        padding-top: 0;
    }
    .choice-outside-1,
    .choice-outside-2 {
        height: 140px;
    }
    /* Service */
    .service-title-top p {
        padding-bottom: 0;
    }
    .service-pack li {
        font-size: 12px;
    }
    .service-pack ul .service-pack-none {
        font-size: 12px;
    }
    .service-pack ul p {
        font-size: 12px;
    }
    .service-title h2 {
        font-size: 16px;
    }
    .service-title p {
        font-size: 12px;
    }
    .regester {
        padding: 5px;
    }
    .regester a {
        font-size: 12px;
    }
    .regester p {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}

@media (max-width:415px) {
    /* Responsive text banner */
    .text h1 {
        font-size: 14px;
    }
    .text p {
        font-size: 10px;
    }
    .banner-more p {
        padding: 5px;
        font-size: 10px;
    }
    .banner-more {
        width: 20%;
        bottom: 15%;
    }
    /* Brand */
    /* About */
    .about-title h2 {
        font-size: 14px;
    }
    .about-title p {
        font-size: 10px;
    }
    .about-more {
        margin: 10px auto;
        width: 20%;
    }
    .about-more a {
        font-size: 12px;
    }
    .about-more p {
        padding: 3px 0;
    }
    /* Maincontent */
    .main-content h2 {
        font-size: 14px;
    }
    /* Tab */
    .tab button {
        font-size: 12px;
        padding: 5px;
    }
    .row-1,
    .row-2 {
        display: block;
    }
    /* Widget */
    .choice-row-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 900px;
    }
    .choice-row-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 700px;
    }
    .choice-outside-1,
    .choice-outside-2 {
        width: 45%;
        height: 215px;
    }
    .brand-choice-img {
        width: 35%;
    }
    .choice-para p {
        line-height: 17px;
    }
    .choice-title {
        width: 30%;
    }
    .choice-title h2 {
        font-size: 18px;
        margin: 0;
        padding-top: 10px;
    }
    .choice-title:after {
        top: 105%;
    }
    .choice-para p span {
        width: 34%;
        padding: 8px;
        font-size: 14px;
    }
    .choice-para p {
        font-size: 14px;
    }
    .choice-para span:after {
        top: 7%;
    }
    .choice-list p {
        font-size: 18px;
    }
    .main-content-choice {
        padding-top: 0;
    }
    .choice-outside-1:nth-child(1) {
        margin: 0;
    }
    .choice-outside-1:nth-child(4) {
        margin: 0;
    }
    .choice-outside-1:nth-child(2),
    .choice-outside-1:nth-child(3) {
        margin: 0;
    }
    .choice-outside-2:nth-child(1) {
        margin: 0;
    }
    .choice-outside-2:nth-child(2) {
        margin: 0;
    }
    .choice-outside-2:nth-child(3) {
        margin: 0;
    }
    .choice-outside-1:nth-child(1).fade-choiceout-11 {
        animation: none;
        -webkit-animation: none;
    }
    .choice-outside-1:nth-child(2).fade-choiceout-12 {
        animation: none;
        -webkit-animation: none;
    }
    .choice-outside-1:nth-child(3).fade-choiceout-13 {
        animation: none;
        -webkit-animation: none;
    }
    .choice-outside-1:nth-child(4).fade-choiceout-14 {
        animation: none;
        -webkit-animation: none;
    }
    .choice-outside-2:nth-child(1).fade-choiceout-21 {
        animation: none;
        -webkit-animation: none;
    }
    .choice-outside-2:nth-child(2).fade-choiceout-22 {
        animation: none;
        -webkit-animation: none;
    }
    .choice-outside-2:nth-child(3).fade-choiceout-23 {
        animation: none;
        -webkit-animation: none;
    }
    /* Service */
    .service-row-1,
    .service-row-2 {
        float: left;
        display: block;
        padding: 0;
    }
    .service-row-1-col-1,
    .service-row-1-col-2,
    .service-row-1-col-3,
    .service-row-1-col-4,
    .service-row-2-col-1,
    .service-row-2-col-2,
    .service-row-2-col-3,
    .service-row-2-col-4 {
        margin: 2% 1%;
    }
    .service-row-1-col,
    .service-row-2-col {
        border: 2px solid rgb(218, 218, 218);
        background: #fff;
        width: 48%;
        float: left;
        height: 500px;
    }
    .service-row-1-col-3,
    .service-row-2-col-3 {
        float: right;
    }
    .service-title-top p {
        padding-bottom: 0;
        font-size: 10px;
    }
    .service-title-top h1 {
        font-size: 18px;
    }
    .service-pack {
        padding: 0;
    }
    .service-pack ul {
        height: 100px;
    }
    .service-pack li {
        font-size: 12px;
    }
    .service-pack ul .service-pack-none {
        font-size: 10px;
    }
    .service-pack ul p {
        font-size: 12px;
    }
    .service-title h2 {
        font-size: 16px;
    }
    .service-title p {
        font-size: 12px;
    }
    .regester {
        padding: 10px;
    }
    .regester a {
        font-size: 14px;
        font-weight: 400;
    }
    /* Footer */
    .footer-outside {
        clear: both;
    }
    .footer {
        padding: 0;
    }
    .footer h3 {
        font-size: 14px;
    }
    .footer p {
        font-size: 10px;
    }
    .footer-left-child {
        padding: 0;
    }
}