    .list-lv1:nth-child(5) {
        border-bottom: 2px solid #ffd500;
    }
    
    .list-lv1:nth-child(5) a {
        color: #ffd500;
    }
    
    .service-detail-title {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
    }
    
    .service-detail-title a {
        text-decoration: none;
        color: black;
    }
    
    .service-detail-title p {
        margin: 15px 0 0 0;
    }
    
    .service-detail-title p:nth-child(3) a {
        color: #ffd500;
    }
    /* Left */
    
    .blog {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
    }
    
    .blog-left {
        width: 80%;
    }
    
    .blog-left-row-1 {
        width: 100%;
        display: flex;
        padding-right: 2%;
        margin-top: 20px;
    }
    
    .blog-left-row-2 {
        width: 100%;
        display: flex;
        padding-right: 2%;
        margin: 20px 0 50px 0;
    }
    
    .card img {
        display: block;
    }
    
    .card img:hover {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
    }
    
    .card {
        width: 32%;
        border: 0.5px solid #ccc;
        box-shadow: 0 2px 2px 0 #ccc, 0 2px 2px 0 #ccc;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
    }
    
    .card:hover {
        box-shadow: 0 4px 8px 0 rgb(112, 112, 112), 0 8px 16px 0 rgb(145, 145, 145);
    }
    
    .card-image {
        width: 100%;
        overflow: hidden;
    }
    
    .card-image img {
        width: 100%;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
    }
    
    .card a {
        text-decoration: none;
        color: blue;
    }
    
    .card1 {
        margin: 0 1% 0 0;
    }
    
    .card2 {
        margin: 0 1%;
    }
    
    .card3 {
        margin: 0 0 0 1%;
    }
    
    .card-content {
        padding: 10px;
    }
    
    .card-content h3 {
        text-align: center;
    }
    
    .card-content p {
        text-indent: 20px;
        text-align: justify;
        color: rgb(71, 71, 71);
        font-size: 16px;
    }
    
    .card-action {
        display: flex;
        color: rgb(128, 128, 128);
        font-size: 14px;
    }
    
    .card-action span {
        font-style: italic;
        cursor: pointer;
    }
    
    .card-action p:nth-child(1) {
        flex: 1;
        text-align: left;
        padding-left: 10px;
    }
    
    .card-action p:nth-child(2) {
        flex: 1;
        text-align: right;
        padding-right: 10px;
    }
    /* Right */
    
    .blog-right {
        width: 20%;
    }
    
    .service-list-tittle {
        height: 40px;
        background: #ffd500;
        font-size: 20px;
        color: rgb(70, 69, 69);
        padding: 10px;
        border-bottom: 0.5px solid #bbb;
        border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        -ms-border-radius: 5px 5px 0 0;
        -o-border-radius: 5px 5px 0 0;
    }
    
    .service-list {
        border: 0.5px solid #bbb;
        border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        -ms-border-radius: 5px 5px 0 0;
        -o-border-radius: 5px 5px 0 0;
        margin-bottom: 30px;
    }
    
    .service-list-lv1-img {
        width: 20%;
    }
    
    .service-list-lv1-img img {
        width: 100%;
    }
    
    .service-list-lv1 {
        display: flex;
        height: 48px;
        padding-left: 10px;
    }
    
    .service-list-lv1 p {
        width: 80%;
        text-indent: 0;
        margin: 0;
        line-height: 48px;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        padding-left: 10px;
    }
    
    .service-list-lv1 a {
        text-decoration: none;
        color: rgb(70, 69, 69);
    }
    
    .service-list-lv1 p:hover {
        text-indent: 10px;
    }
    
    .service-list-lv1 a:hover {
        color: #ffd500;
    }
    
    .news-list {
        border: 0.5px solid #bbb;
        border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        -ms-border-radius: 5px 5px 0 0;
        -o-border-radius: 5px 5px 0 0;
        margin-bottom: 30px;
    }
    
    .news-list img {
        width: 100%;
    }
    
    .news-list-lv1 {
        display: flex;
        height: 60px;
        padding: 5px;
        border-bottom: 0.5px solid #ccc;
    }
    
    .news-list-lv1-img {
        width: 20%;
    }
    
    .news-list-lv1-para {
        width: 80%;
    }
    
    .news-detail {
        margin: 0;
        color: rgb(104, 104, 104);
        font-size: 13px;
        padding-left: 10px;
    }
    
    .news-title {
        margin: 0;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        padding-left: 10px;
        font-size: 15px;
    }
    
    .news-list-lv1 a {
        text-decoration: none;
        color: black;
    }
    
    .news-list-lv1 a:hover {
        color: #ffd500;
    }
    
    @media (max-width:768px) {
        .service-detail {
            font-size: 12px;
        }
        .about-us {
            font-size: 12px;
        }
        .blog-right {
            font-size: 12px;
        }
        .service-list-tittle {
            font-size: 14px;
        }
        .news-detail {
            font-size: 12px;
        }
        .card-content h3 {
            font-size: 12px;
        }
        .card-content p {
            font-size: 12px;
        }
        .card-action {
            font-size: 12px;
        }
        .card-action p {
            padding-left: 5px;
        }
    }
    
    @media (max-width:600px) {
        .service-detail {
            font-size: 10px;
        }
        .service-list-tittle {
            font-size: 12px;
        }
        .news-detail {
            font-size: 10px;
        }
        .service-list-lv1 {
            height: 25px;
        }
        .service-list-tittle {
            font-size: 10px;
            height: 25px;
        }
        .news-list-lv1 {
            font-size: 10px;
        }
    }