.list-lv1:nth-child(4) {
    border-bottom: 2px solid #ffd500;
}

.list-lv1:nth-child(4) a {
    color: #ffd500;
}

.service-detail-title {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.service-detail-title a {
    text-decoration: none;
    color: black;
}

.service-detail-title p:nth-child(3) a {
    color: #ffd500;
}


/* general */

.general-left-tittle {
    padding-bottom: 30px;
}

.general-left-tittle span {
    color: #ffd500;
}

.general-left-tittle p {
    text-align: center;
}

.general-left-tittle h1 {
    color: rgb(70, 69, 69);
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.general-left-tittle h1:after {
    content: '';
    position: absolute;
    bottom: -10%;
    left: 45%;
    width: 10%;
    height: 2px;
    background-color: #ffd500;
}

.general-left-row {
    display: flex;
}

.general-left-row img {
    width: 100%;
}

.tablinks {
    margin: 0 0.5%;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.item1 {
    margin: 0 0.5% 0 0;
}

.item7 {
    margin: 0 1% 0 0.5%;
}

.tablinks p {
    text-align: center;
    padding: 10px 0;
    color: #b6b6b6;
}

.general-left-row div.active img {
    opacity: 0.6;
}

.general-left-row div.active p {
    color: #242323;
}

.general-left-row div.active {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
}

.tabcontents {
    display: none;
    padding: 6px;
    margin-right: 1%;
    border: 1px solid #ccc;
}

.detail {
    display: flex;
}

.detail-left>p {
    text-indent: 20px;
    text-align: justify;
}

.detail-right {
    width: 50%;
}

.detail-left {
    width: 50%;
    padding: 10px;
    color: #5e5e5e;
    position: relative;
}

.detail-left h2 {
    text-align: center;
    text-transform: uppercase;
}

.detail img {
    width: 100%;
    display: block;
    padding: 5px;
}

.detail-left-regester {
    margin: 0 auto;
    border: 0.5px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
    -webkit-transform: translate(-50%, 150%);
    -moz-transform: translate(-50%, 150%);
    -ms-transform: translate(-50%, 150%);
    -o-transform: translate(-50%, 150%);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.detail-left-regester:hover {
    background: #ffd500;
}

.detail-left-regester:hover a {
    color: #fff;
}

.detail-left-regester a {
    text-decoration: none;
}

.detail-left-regester p {
    text-align: center;
    text-align: center;
    margin: 0;
    padding: 10px;
}

.general-left-row {
    padding-bottom: 30px;
}


/* Tab 1 */

.tabcontents-1 {
    position: relative;
}

.tabcontents-1:after {
    content: "";
    position: absolute;
    top: -9.5%;
    left: 5%;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #ccc transparent;
}


/* Tab 2 */

.tabcontents-2 {
    position: relative;
}

.tabcontents-2:after {
    content: "";
    position: absolute;
    top: -11%;
    left: 19%;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #ccc transparent;
}


/* Tab 3 */

.tabcontents-3 {
    position: relative;
}

.tabcontents-3:after {
    content: "";
    position: absolute;
    top: -9.5%;
    left: 34%;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #ccc transparent;
}


/* Tab 4 */

.tabcontents-4 {
    position: relative;
}

.tabcontents-4:after {
    content: "";
    position: absolute;
    top: -9.5%;
    left: 49%;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #ccc transparent;
}


/* Tab 5*/

.tabcontents-5 {
    position: relative;
}

.tabcontents-5:after {
    content: "";
    position: absolute;
    top: -9.5%;
    left: 63%;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #ccc transparent;
}


/* Tab 6*/

.tabcontents-6 {
    position: relative;
}

.tabcontents-6:after {
    content: "";
    position: absolute;
    top: -9.5%;
    left: 77.5%;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #ccc transparent;
}


/* Tab 7*/

.tabcontents-7 {
    position: relative;
}

.tabcontents-7:after {
    content: "";
    position: absolute;
    top: -9%;
    left: 92.5%;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #ccc transparent;
}

@media(max-width:800px) {
    /* Responsive text banner */
    .tabcontents-1:after {
        top: -14.5%;
    }
    .tabcontents-2:after {
        top: -16.5%;
    }
    .tabcontents-3:after {
        top: -14.5%;
    }
    .tabcontents-4:after {
        top: -14.5%;
    }
    .tabcontents-5:after {
        top: -14.5%;
    }
    .tabcontents-6:after {
        top: -14.5%;
    }
    .tabcontents-7:after {
        top: -13.8%;
    }
    .tablinks p {
        font-size: 14px;
    }
}

@media (max-width:600px) {
    .general-left-tittle {
        font-size: 14px;
    }
    .general-left-tittle h1 {
        font-size: 20px;
    }
    .general-left-tittle h1:after {
        width: 15%;
        bottom: -15%;
        left: 43%;
    }
    .widget {
        display: flex;
    }
    .general-left-row {
        width: 20%;
    }
    .tabcontents {
        width: 80%;
    }
    .general-left-row,
    .detail {
        display: flex;
        flex-direction: column;
    }
    .detail-right,
    .detail-left {
        width: 100%;
    }
    .general-left-row img {
        width: 45%;
        margin: 0 auto;
        display: block;
    }
    .general-left-row div.active {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        color: #fff;
        background: rgb(235, 235, 235);
    }
    .tabcontents:after {
        content: none;
    }
    .general-left-row div.active img {
        opacity: 1;
    }
    .item1,
    .item2,
    .item3,
    .item4,
    .item5,
    .item6,
    .item7 {
        margin: 0 auto;
    }
    .tablinks p {
        padding: 0;
        margin: 0;
        font-size: 10px;
    }
    .detail-left-regester {
        width: 30%;
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }
    .detail-left-regester p {
        font-size: 13px;
        font-weight: 600;
        padding: 8px;
    }
    .detail-left h2 {
        font-size: 16px;
    }
    .detail-left>p {
        font-size: 12px;
    }
    .tablinks {
        padding-bottom: 5px;
    }
}

@media (max-width:415px) {
    /* Responsive text banner */
    .general-left {
        width: 65%;
    }
    .general-right {
        width: 35%;
        padding-right: 2%;
    }
    .service-list-lv1 {
        height: 45px;
    }
    .detail-left-regester {
        width: 40%;
    }
    .detail-left-regester p {
        font-size: 10px;
        font-weight: 600;
        padding: 8px;
    }
    .general-left-tittle {
        font-size: 12px;
    }
    .detail-left h2 {
        font-size: 14px;
    }
}