* {
    box-sizing: border-box;
}

body{
	max-width: 1000px;
	background-color: #b5b5b5;
	padding: 0;
}

.wrap{
	max-width: 1000px;
	margin: auto;
    text-align: center;
}

.warp >a:link {
	color: blue;
	text-decoration: none;			
}

.warp >a:visited {
	color: grey;
}

.warp >a:hover {
	color: black;
}

.warp >a:active {
	color: green;
}


