* {
    box-sizing: border-box;
}
body{
	background-color: #b5b5b5;
	padding: 0;
}

img{
	display: block;
	max-width: 100%;
}
#main-menu a{
	padding: 10px;
	margin: 0;
	background-color: #97ffff;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;	
}

#main-menu a:link {
	color: blue;
}

#main-menu a:hover, #main-menu a:active{
	color: black;
	background-color: red;
}

#main-menu a.active{
	font-weight: bold;
}

.wrap{
	max-width: 1000px;
	margin: auto;
}

#banner {
	width: 100%;
}
	#ao img:hover{
		transform: scale(1.02);
	}

	#aomu, #aoarsenal, #aoreal, #aochelsea, #aobarca {
		width: 100%;
		margin: 2% 0;
		float: left;
	}

	.aomu, .aoarsenal, .aoreal, .aochelsea, .aobarca {
		float: left;
		width: 32%;
		overflow: hidden;
	}


	.aomu2, .aoarsenal2, .aoreal2, .aochelsea2, .aobarca2 {
		margin: 0 2%;
	}


	.aomu {
		border: 1px solid red;	
	}
	

	.aoarsenal {
		border: 1px solid green;
	}
	

	.aoreal {
		border: 1px solid orange;
	}
	

	.aochelsea {
		border: 1px solid blue;
	}
	

	.aobarca {
		border: 1px solid purple;
	}
	