.menu_top {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    height: 80px;
}

.content_menu_title p:nth-child(4) {
    background: #b12126;
}

.content_menu_title p:nth-child(4) a {
    text-decoration: none;
    color: #FFF;
}